<div class="category-tables" *ngIf="!!budget">
	<div class="category-table expense">
		<div class="category-header">
			<h3>{{ 'budget.categories.table.title.expanseCategory' | translate }}</h3>
			<button class="category-create-button" (click)="openCreateCategoryDialog('EXPENSE')">
				{{ 'budget.categories.table.newCategoryButton' | translate }}
			</button>
		</div>
		<mat-table [dataSource]="expenseCategories" multiTemplateDataRows="true" class="mat-elevation-z8">
			<ng-container matColumnDef="name">
				<mat-header-cell *matHeaderCellDef> {{ 'budget.categories.table.name' | translate }} </mat-header-cell>
				<mat-cell *matCellDef="let category"> {{ category?.name }} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="allocatedAmount">
				<mat-header-cell *matHeaderCellDef> {{ 'budget.categories.table.allocatedAmount' | translate }} </mat-header-cell>
				<mat-cell *matCellDef="let category">
					{{ category?.allocatedAmount | currency }}
				</mat-cell>
			</ng-container>

			<ng-container matColumnDef="actions">
				<mat-header-cell *matHeaderCellDef> {{ 'budget.categories.table.actions' | translate }} </mat-header-cell>
				<mat-cell *matCellDef="let category">
					<button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
						<mat-icon>more_vert</mat-icon>
					</button>
					<mat-menu #menu="matMenu">
						<button mat-menu-item>{{ 'budget.categories.table.actions.edit' | translate }}</button>
						<button mat-menu-item>{{ 'budget.categories.table.actions.delete' | translate }}</button>
					</mat-menu>
				</mat-cell>
			</ng-container>

			<ng-container matColumnDef="expandedDetail">
				<mat-cell *matCellDef="let category" [attr.colspan]="displayedColumns.length">
					<div class="expanded-detail" [@detailExpand]="isExpanded(category) ? 'expanded' : 'collapsed'">
<!--						<transactions-on-category-table [budget]="budget" [category]="category"></transactions-on-category-table>-->
						TODO
					</div>
				</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row
				*matRowDef="let row; columns: displayedColumns"
				class="element-row"
				(click)="toggleRow(row)">
			</mat-row>
			<mat-row
				*matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
				class="detail-row">
			</mat-row>
		</mat-table>

		<div *ngIf="expenseCategories.length === 0" class="no-data">
			{{ 'budget.categories.table.empty.expenseCategory' | translate }}
		</div>
	</div>
</div>
