<div class="login-wrapper">
	<div class="login-box">
		<h1 class="title">{{ 'login.title' | translate }}</h1>
		<div *ngIf="isSubmitting">
			<app-loading/>
		</div>
		<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
			<input type="email" placeholder="{{ 'login.email.placeholder' | translate }}" formControlName="email" required>
			<div class="error" *ngIf="loginForm.get('email')?.dirty && loginForm.get('email')?.hasError('required')">
				{{ 'login.email.error' | translate }}
			</div>

			<input type="password" placeholder="{{ 'login.password.placeholder' | translate }}" formControlName="password" required>
			<div class="error" *ngIf="loginForm.get('password')?.dirty && loginForm.get('password')?.hasError('required')">
				{{ 'login.password.error' | translate }}
			</div>

			<button type="submit" [disabled]="loginForm.invalid">{{ 'login.submit' | translate }}</button>
		</form>
		<div class="register-link">
			<p> {{ 'login.noAccountYet' | translate }} <a routerLink="{{Paths.register}}">{{ 'login.goToRegister' | translate }}</a></p>
		</div>
	</div>
</div>
