<app-default-page [pageTitleKey]="'monitoring.rabbitmq.title'">
  <div class="tmpl-content">
    <div *ngIf="queues$ | async as queues; else loading">
      <table mat-table [dataSource]="queues" class="mat-elevation-z8" *ngIf="queues.length > 0">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> {{ 'monitoring.rabbitmq.table.name' | translate }} </th>
          <td mat-cell *matCellDef="let queue"> {{queue.name}} </td>
        </ng-container>

        <ng-container matColumnDef="messages">
          <th mat-header-cell *matHeaderCellDef> {{ 'monitoring.rabbitmq.table.messages' | translate }} </th>
          <td mat-cell *matCellDef="let queue"> {{queue.messages}} </td>
        </ng-container>

        <ng-container matColumnDef="messagesReady">
          <th mat-header-cell *matHeaderCellDef> {{ 'monitoring.rabbitmq.table.messages-ready' | translate }} </th>
          <td mat-cell *matCellDef="let queue"> {{queue.messagesReady}} </td>
        </ng-container>

        <ng-container matColumnDef="messagesUnacknowledged">
          <th mat-header-cell *matHeaderCellDef> {{ 'monitoring.rabbitmq.table.unacknowledged' | translate }} </th>
          <td mat-cell *matCellDef="let queue"> {{queue.messagesUnacknowledged}} </td>
        </ng-container>

        <ng-container matColumnDef="consumers">
          <th mat-header-cell *matHeaderCellDef> {{ 'monitoring.rabbitmq.table.consumers' | translate }} </th>
          <td mat-cell *matCellDef="let queue"> {{queue.consumers}} </td>
        </ng-container>

        <ng-container matColumnDef="node">
          <th mat-header-cell *matHeaderCellDef> {{ 'monitoring.rabbitmq.table.node' | translate }} </th>
          <td mat-cell *matCellDef="let queue"> {{queue.node}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <div *ngIf="queues.length === 0" class="no-data-message">
		  {{ 'monitoring.rabbitmq.table.no-queues' | translate }}
      </div>

      <mat-card class="chart-card" *ngIf="queues.length > 0">
        <mat-card-title>{{ 'monitoring.rabbitmq.chart.title' | translate }}</mat-card-title>
        <mat-card-content>
          <ngx-charts-line-chart
            [results]="chartData"
            [xAxis]="true"
            [yAxis]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            xAxisLabel="{{ 'monitoring.rabbitmq.chart.xAxisLabel' | translate }}"
            yAxisLabel="{{ 'monitoring.rabbitmq.chart.yAxisLabel' | translate }}"
            [legend]="true"
            [autoScale]="true"
            [timeline]="false"
            [xAxisTickFormatting]="xAxisTickFormatting.bind(this)"
            [scheme]="'natural'"
            [roundDomains]="true"
            [curve]="'monotoneX'"
            [gradient]="true"
            [tooltipDisabled]="false"
            [showGridLines]="true"
            [animations]="true"
          >
          </ngx-charts-line-chart>
        </mat-card-content>
      </mat-card>

    </div>

    <ng-template #loading>
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </div>
</app-default-page>
