<mat-dialog-content class="dialog-wrapper">

	<h2 mat-dialog-title class="dialog-title">
		Wybierz ikonę
	</h2>

	<mat-grid-list cols="4" rowHeight="80px" gutterSize="16px" class="icon-grid">
		<mat-grid-tile *ngFor="let icon of icons" (click)="selectIcon(icon)" [class.selected]="icon.key === selectedKey">
			<img matTooltip="{{ icon.key }}" [src]="icon.url" alt="Ikona {{ icon.key }}" />
		</mat-grid-tile>
	</mat-grid-list>

</mat-dialog-content>

<mat-dialog-actions align="end" class="dialog-actions">
	<button mat-stroked-button (click)="cancel()">Anuluj</button>
	<button mat-flat-button color="primary" [disabled]="!selectedKey" (click)="confirm()">Wybierz</button>
</mat-dialog-actions>
