<div class="login-wrapper">
	<div class="login-box">
		<h1 class="title">{{ 'forgotPassword.title' | translate }}</h1>
		<h3 class="description">{{ 'forgotPassword.description' | translate }}</h3>
		<div *ngIf="isSubmitting">
			<app-loading/>
		</div>
		<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
			<input type="email" placeholder="{{ 'forgotPassword.email.placeholder' | translate }}" formControlName="email" required>
			<div class="error" *ngIf="forgotPasswordForm.get('email')?.dirty && forgotPasswordForm.get('email')?.hasError('required')">
				{{ 'forgotPassword.email.error' | translate }}
			</div>

			<button type="submit" [disabled]="forgotPasswordForm.invalid">{{ 'forgotPassword.submit' | translate }}</button>
		</form>
		<div class="links">
			<p> {{ 'forgotPassword.goBackTo' | translate }} <a routerLink="{{Paths.login}}">{{ 'forgotPassword.toLoginPage' | translate }}</a></p>
			<p> {{ 'forgotPassword.goBackTo' | translate }} <a routerLink="{{Paths.register}}">{{ 'forgotPassword.toRegisterPage' | translate }}</a></p>
		</div>
	</div>
</div>
