<h1 mat-dialog-title>Add new element</h1>

<div mat-dialog-content>
	<mat-form-field appearance="fill" class="full-width">
		<mat-label>Name</mat-label>
		<input matInput [(ngModel)]="data.name" />
	</mat-form-field>

	<mat-form-field appearance="fill" class="full-width">
		<mat-label>Day</mat-label>
		<input matInput type="number" [(ngModel)]="data.day" />
	</mat-form-field>

	<mat-form-field appearance="fill" class="full-width">
		<mat-label>Cost</mat-label>
		<input matInput type="number" [(ngModel)]="data.cost" />
	</mat-form-field>

	<mat-form-field appearance="fill" class="full-width">
		<mat-label>Location</mat-label>
		<input
			matInput
			#autocompleteInput
			[(ngModel)]="searchQuery"
			placeholder="Type to search place..."
		/>
		<button
			*ngIf="searchQuery"
			mat-icon-button
			matSuffix
			(click)="clearMapPinValue()"
			aria-label="Clear location"
		>
			<mat-icon>clear</mat-icon>
		</button>
	</mat-form-field>
</div>

<div mat-dialog-actions align="end">
	<button mat-button (click)="onCloseClick()">Cancel</button>
	<button mat-button color="primary" [mat-dialog-close]="data">Confirm</button>
</div>
