<div class="table-content" *ngIf="!!currentAccount">

	<ng-container *ngIf="!!dataSet">
		<mat-table [dataSource]="dataSet" class="table-result">
			<ng-container matColumnDef="name">
				<mat-header-cell mat-header-cell *matHeaderCellDef>{{ 'trips.name' | translate }}</mat-header-cell>
				<mat-cell class="clickable-text"
						  (click)="navigateToTrip(element.id)"
						  *matCellDef="let element">
					<span *ngIf="isNamePrefixIconVisible(element)">
						<mat-icon class="name-prefix-icon" [matTooltip]="translate.instant('trips.icon.tooltip.public')" *ngIf="!!element?.isPublic">public</mat-icon>
						<mat-icon class="name-prefix-icon" [matTooltip]="translate.instant('trips.icon.tooltip.closed')" *ngIf="!!element?.isClosed">event_available</mat-icon>
						<mat-icon class="name-prefix-icon" [matTooltip]="translate.instant('trips.icon.tooltip.archived')" *ngIf="!!element?.isArchived">archive</mat-icon>
						<mat-icon class="name-prefix-icon" [matTooltip]="translate.instant('trips.icon.tooltip.deleted')" *ngIf="!!element?.isDeleted">delete_forever</mat-icon>
					</span>
					<div [matTooltip]="element.name">
						{{ element.name }}
					</div>
				</mat-cell>
			</ng-container>

			<ng-container matColumnDef="lastUpdate">
				<mat-header-cell *matHeaderCellDef>{{ 'trips.lastModified' | translate }}</mat-header-cell>
				<mat-cell *matCellDef="let element">
					<div [matTooltip]="formatModifiedBy(element.lastModifiedBy)">
						{{ formatDate(element.lastModifiedTime) }}
					</div>
				</mat-cell>
			</ng-container>

			<ng-container matColumnDef="actions" >
				<mat-header-cell *matHeaderCellDef class="icon-container"></mat-header-cell>
				<mat-cell *matCellDef="let element" class="icon-container">
					<button mat-icon-button [matMenuTriggerFor]="kebabMenu">
						<mat-icon>more_vert</mat-icon>
					</button>
					<mat-menu #kebabMenu>
						<button mat-menu-item *ngIf="isAccountTripAdmin(element)" (click)="archiveTrip(element.id)">
							{{ 'trips.archive' | translate }}</button>
						<button mat-menu-item *ngIf="isAccountTripAdmin(element)" (click)="editTrip(element)">
							{{ 'trips.edit' | translate }}</button>
						<button mat-menu-item (click)="duplicateTrip(element.id)">
							{{ 'trips.duplicate' | translate }}</button>
						<button mat-menu-item *ngIf="!isAccountTripOwner(element)" (click)="leaveTripAsMember(element.id)">
							{{ 'trips.leaveTrip' | translate }}</button>
						<button mat-menu-item *ngIf="isAccountTripAdmin(element)" (click)="deleteTrip(element.id)">
							{{ 'trips.delete' | translate }}</button>
					</mat-menu>
				</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
		</mat-table>
	</ng-container>

</div>
