<app-default-page>
	<div class="tmpl-sidebar">
		<app-side-bar></app-side-bar>
	</div>

	<div class="tmpl-content">
		<div class="button-actions">
			<button mat-button (click)="this.openDialog()">
				Add data
			</button>
			<button
				mat-button
				[disabled]="!dataSource.data.length"
				(click)="removeData()">
				Remove data
			</button>
		</div>

		<ng-container *ngIf="searchResultObservable$ | async as result">
			<app-trips-table
				[currentAccount]="currentAccount"
				[dataSet]="result.content"
				[totalPages]="result.totalPages">
			</app-trips-table>
		</ng-container>

	</div>
</app-default-page>
