<app-default-page>
	<div class="tmpl-sidebar">
		<app-side-bar></app-side-bar>
	</div>

	<div class="tmpl-content">
		<div class="demo-button-container">
			<button mat-raised-button (click)="this.openDialog()" class="demo-button">
				Add data
			</button>
			<button
				mat-raised-button
				[disabled]="!dataSource.data.length"
				(click)="removeData()"
				class="demo-button">
				Remove data
			</button>
		</div>

		<mat-table #table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
			<ng-container matColumnDef="tripName">
				<th mat-header-cell *matHeaderCellDef>Name</th>
				<td class="clikable-text" mat-cell
					(click)="nav(element.id)"
					*matCellDef="let element"
					>
					{{ element.name }}</td>
			</ng-container>

			<ng-container matColumnDef="summaryCost">
				<th mat-header-cell *matHeaderCellDef>summaryCost</th>
				<td mat-cell *matCellDef="let element"
					>
					{{ element.summaryCost }}</td>
			</ng-container>

			<ng-container matColumnDef="dayLength">
				<th mat-header-cell *matHeaderCellDef>Day Length</th>
				<td mat-cell *matCellDef="let element"
					>
					{{ element.dayLength }}</td>
			</ng-container>

			<ng-container matColumnDef="lastUpdate">
				<th mat-header-cell *matHeaderCellDef>last Update</th>
				<td mat-cell *matCellDef="let element"
					>
					{{ formatLastDateTimeUpdate(element.lastUpdateDate, element.lastUpdateTime) }}
				</td>
			</ng-container>

			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
		</mat-table>

	</div>
</app-default-page>


<!--<div class="demo-button-container">-->
<!--	<button mat-raised-button (click)="this.openDialog()" class="demo-button">-->
<!--		Add data-->
<!--	</button>-->
<!--	<button-->
<!--		mat-raised-button-->
<!--		[disabled]="!dataSource.data.length"-->
<!--		(click)="removeData()"-->
<!--		class="demo-button">-->
<!--		Remove data-->
<!--	</button>-->
<!--</div>-->

<!--<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">-->
<!--	<ng-container matColumnDef="tripName">-->
<!--		<th mat-header-cell *matHeaderCellDef>Name</th>-->
<!--		<td class="clikable-text" mat-cell-->
<!--			(click)="nav(element.id)"-->
<!--			*matCellDef="let element"-->
<!--			[matTooltip]="element.name">-->
<!--			{{ element.name }}</td>-->
<!--	</ng-container>-->

<!--	<ng-container matColumnDef="summaryCost">-->
<!--		<th mat-header-cell *matHeaderCellDef>summaryCost</th>-->
<!--		<td mat-cell *matCellDef="let element"-->
<!--			[matTooltip]="element.summaryCost">-->
<!--			{{ element.summaryCost }}</td>-->
<!--	</ng-container>-->

<!--	<ng-container matColumnDef="dayLength">-->
<!--		<th mat-header-cell *matHeaderCellDef>Day Length</th>-->
<!--		<td mat-cell *matCellDef="let element"-->
<!--			[matTooltip]="element.dayLength">-->
<!--			{{ element.dayLength }}</td>-->
<!--	</ng-container>-->

<!--	<ng-container matColumnDef="lastUpdate">-->
<!--		<th mat-header-cell *matHeaderCellDef>last Update</th>-->
<!--		<td mat-cell *matCellDef="let element"-->
<!--			[matTooltip]="formatLastUpdateBy(element.lastUpdateBy)">-->
<!--			{{ formatLastDateTimeUpdate(element.lastUpdateDate, element.lastUpdateTime) }}-->
<!--		</td>-->
<!--	</ng-container>-->

<!--	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--</table>-->
