<div class="table-content">

	<ng-container *ngIf="!!dataSet">
		<mat-table [dataSource]="dataSet" class="table-result">
			<ng-container matColumnDef="tripName">
				<mat-header-cell mat-header-cell *matHeaderCellDef>{{ 'trips.name' | translate }}</mat-header-cell>
				<mat-cell class="clickable-text"
						  (click)="navigateToTrip(element.id)"
						  [matTooltip]="element.name"
						  *matCellDef="let element">
					{{ element.name }}
				</mat-cell>
			</ng-container>

			<ng-container matColumnDef="summaryCost">
				<mat-header-cell *matHeaderCellDef> {{ 'trips.summaryCost' | translate}}</mat-header-cell>
				<mat-cell *matCellDef="let element"
						  [matTooltip]="element.summaryCost" >
					{{ element.summaryCost }}</mat-cell>
			</ng-container>

			<ng-container matColumnDef="dayLength">
				<mat-header-cell *matHeaderCellDef> {{ 'trips.dayLength' | translate }}</mat-header-cell>
				<mat-cell *matCellDef="let element"
						  [matTooltip]="element.dayLength">
					{{ element.dayLength }}</mat-cell>
			</ng-container>

			<ng-container matColumnDef="lastUpdate">
				<mat-header-cell *matHeaderCellDef>{{ 'trips.lastUpdate' | translate }}</mat-header-cell>
				<mat-cell *matCellDef="let element"
						  [matTooltip]="element.lastModifiedTime">
					{{ element.lastModifiedTime }}
				</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
		</mat-table>
	</ng-container>

</div>
