<div class="table-content">

	<ng-container *ngIf="!!dataSet">
		<mat-table [dataSource]="dataSet" class="table-result">
			<ng-container matColumnDef="tripName">
				<mat-header-cell mat-header-cell *matHeaderCellDef>{{ 'trips.name' | translate }}</mat-header-cell>
				<mat-cell class="clickable-text"
						  (click)="navigateToTrip(element.id)"
						  *matCellDef="let element">
					<div [matTooltip]="element.name ?? ''">
						{{ element.name ?? '' }}
					</div>
				</mat-cell>
			</ng-container>

			<ng-container matColumnDef="summaryCost">
				<mat-header-cell *matHeaderCellDef> {{ 'trips.summaryCost' | translate}}</mat-header-cell>
				<mat-cell *matCellDef="let element">
					<div [matTooltip]="element.summaryCost ?? ''">
						{{ element.summaryCost ?? '' }}
					</div>
				</mat-cell>
			</ng-container>

			<ng-container matColumnDef="dayLength">
				<mat-header-cell *matHeaderCellDef> {{ 'trips.dayLength' | translate }}</mat-header-cell>
				<mat-cell *matCellDef="let element">
					<div [matTooltip]="element.dayLength ?? ''">
						{{ element.dayLength ?? '' }}
					</div>
				</mat-cell>
			</ng-container>

			<ng-container matColumnDef="lastUpdate">
				<mat-header-cell *matHeaderCellDef>{{ 'trips.lastUpdate' | translate }}</mat-header-cell>
				<mat-cell *matCellDef="let element">
					<div [matTooltip]="formatDate(element.lastModifiedTime)">
						{{ formatDate(element.lastModifiedTime) }}
					</div>
				</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
		</mat-table>
	</ng-container>

</div>
