<div class="category-table" *ngIf="!!budgetId">
	<div class="category-header">
		<h3>{{ 'budget.categories.table.title.expanseCategory' | translate }}</h3>
		<button class="category-create-button" (click)="openCreateCategoryDialog('EXPENSE')">
			{{ 'budget.categories.table.newCategoryButton' | translate }}
		</button>
	</div>

	<ng-container *ngFor="let category of categoryList; index as i; trackBy: trackByFn">
		<mat-card class="category-mat-card">
			<div class="category-row" (click)="toggleExpendedElements(category)">
				<div class="category-row-name">
					{{ category.name }}
				</div>
				<div class="category-row-budget">
					{{ (category.allocatedAmount ?? 0) | currency }} Budget
				</div>
				<div class="category-row-spent">
					{{ (category.totalSpentAmount ?? 0) | currency }} Spent
				</div>
				<div class="category-row-action">
					<button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
						<mat-icon>more_vert</mat-icon>
					</button>
					<mat-menu #menu="matMenu">
						<button (click)="editCategory(category)" mat-menu-item>{{ 'budget.categories.table.actions.edit' | translate }}</button>
						<button (click)="addSubCategory(category)" mat-menu-item>{{ 'budget.categories.table.actions.addSubCategory' | translate }}</button>
						<button (click)="deleteCategory(category)" mat-menu-item>{{ 'budget.categories.table.actions.delete' | translate }}</button>
					</mat-menu>
				</div>
			</div>
			<mat-progress-bar
				class="category-progress-bar"
				mode="determinate"
				[value]="calculateSpentPercentage(category)"
			></mat-progress-bar>
			<div [@detailExpand]="isExpanded(category) ? 'expanded' : 'collapsed'" class="expandable-section">
				<subcategory-table
					[budgetId]="budgetId"
					[categoryId]="category.id"
				></subcategory-table>
				<transactions-searchable
					[budgetId]="budgetId"
					[categoryId]="category.id"
					[excludeSubCategorized]="true"
					[displayHeaders]="false"
				></transactions-searchable>
			</div>
		</mat-card>
	</ng-container>
</div>
