<ng-container *ngIf="!!account">
	<app-header [account]="account"></app-header>

<!--	<div class="container-fluid">-->
<!--		<div class="row flex-nowrap">-->
<!--			<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">-->
<!--				<div class="flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">-->
<!--					<a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">-->
<!--						<span class="fs-5 d-none d-sm-inline">Menu</span>-->
<!--					</a>-->
<!--					<app-side-bar></app-side-bar>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="col py-3">-->
<!--				<ng-content select=".tmpl-content"></ng-content>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->

	<section class="my-container">
		<div class="container-sidebar">
			<ng-content select=".tmpl-sidebar"></ng-content>
		</div>
		<div class="container-content">
			<ng-content select=".tmpl-content"></ng-content>
		</div>
<!--		<div class="row flex-nowrap">-->
<!--			<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">-->
<!--				<div class="flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">-->
<!--					<a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">-->
<!--						<span class="fs-5 d-none d-sm-inline">Menu</span>-->
<!--					</a>-->
<!--					<app-side-bar></app-side-bar>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="col py-3">-->
<!--				<ng-content select=".tmpl-content"></ng-content>-->
<!--			</div>-->
<!--		</div>-->
	</section>

	<footer class="fixed-bottom bg-dark">
		<div class="container">
			<p class="text-center text-light h-100">Copyright © 2024. All rights reserved.</p>
		</div>
	</footer>
</ng-container>
