<ng-container *ngIf="!!account">
	<app-header [account]="account"></app-header>

	<section class="my-container">
		<div class="container-sidebar">
			<ng-content select=".tmpl-sidebar"></ng-content>
		</div>
		<div class="container-title" *ngIf="!!pageTitleKey">
			<div>
				<h2 mat-dialog-title>{{ pageTitleKey | translate }}</h2>
			</div>
		</div>
		<div class="container-content">
			<ng-content select=".tmpl-content"></ng-content>
		</div>
	</section>

	<footer class="fixed-bottom bg-dark">
		<div class="container">
			<p class="text-center text-light h-100">Copyright © 2024. All rights reserved.</p>
		</div>
	</footer>
</ng-container>
