<div class="budget-details-container">
	<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

	<div *ngIf="errorKey" class="error-message">
		{{ errorKey | translate }}
	</div>

	<div *ngIf="budget" class="content">
		<h1>{{ budget.name }}</h1>
		<button mat-stroked-button (click)="openCreateTransactionDialog()">New expense</button>
		<div class="charts-grid">
			<mat-card class="chart-card">
				<mat-card-header>
					<mat-card-title>{{ 'budget.details.expensesDistribution' | translate }}</mat-card-title>
				</mat-card-header>
				<mat-card-content>
				</mat-card-content>
			</mat-card>

			<mat-card class="chart-card">
				<mat-card-header>
					<mat-card-title>{{ 'budget.details.periodsComparison' | translate }}</mat-card-title>
				</mat-card-header>
				<mat-card-content>
				</mat-card-content>
			</mat-card>

			<mat-card class="stats-card">
				<mat-card-header>
					<mat-card-title>{{ 'budget.details.summary' | translate }}</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<div class="stat-item">
						<span>{{ 'budget.details.summary.total.budget' | translate }} </span>
						<span class="align-right" *ngIf="!loading">{{ budget?.allocatedBudget | currency }}</span>
					</div>
<!--					<div class="stat-item">-->
<!--						<span>{{ 'budget.details.summary.total.transactionsCount' | translate }} </span>-->
<!--						<span class="align-right"> {{ transactionBudgetSummary?.transactionCount }}</span>-->
<!--					</div>-->
					<div class="stat-item">
						<span>{{ 'budget.details.summary.total.transactionsValue' | translate }} </span>
						<span class="align-right" *ngIf="!loadingSummary">{{ transactionBudgetSummary?.totalTransactionsValue | currency }}</span>
					</div>
					<div class="stat-item">
						<span>{{ 'budget.details.summary.total.savings' | translate }} </span>
						<span class="align-right" *ngIf="!loadingSummary">{{ calculateSavings(budget?.allocatedBudget, transactionBudgetSummary?.totalTransactionsValue) | currency }}</span>
					</div>
				</mat-card-content>
				<div *ngIf="loadingSummary"><app-loading/></div>
			</mat-card>
		</div>
		<div>

<!--			<category-table *ngIf="!!budget" [budget]="budget" (refreshEvent)="loadBudgetDetails()"></category-table>-->
			<category-table-v2 *ngIf="!!budgetId" [budgetId]="budgetId"></category-table-v2>
		</div>
	</div>
</div>
