@use "../../../../styles/variables.scss" as *;

.footer-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-end; // Pushes the footer to the bottom
	width: 100%;

	.footer {
		background-color: $primary-color;
		color: $surface-color;
		text-align: center;
		font-size: $font-size-base * 0.8;
		padding: $spacing-sm 0;
		box-shadow: $box-shadow-sm;

		a {
			color: $surface-color;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	@media (max-width: $breakpoint-sm) {
		.footer {
			font-size: $font-size-base * 0.75;
			padding: $spacing-xs 0;
		}
	}
}
