<div class="m-3 mw-100">
  <table mat-table [dataSource]="this.dataSource" class="table-fix">
    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element" [matTooltip]="element?.day"> {{ element.displayName }} </td>
    </ng-container>
    <ng-container matColumnDef="day">
      <th mat-header-cell *matHeaderCellDef>Day</th>
      <td mat-cell *matCellDef="let element" [matTooltip]="element?.day"> {{ element?.day }} </td>
    </ng-container>
    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef>Cost</th>
      <td mat-cell *matCellDef="let element" [matTooltip]="element?.cost"> {{ element?.cost }} </td>
    </ng-container>
    <ng-container matColumnDef="mapElementName">
      <th mat-header-cell *matHeaderCellDef>mapElementName</th>
      <td mat-cell *matCellDef="let element" [matTooltip]="element?.mapElement?.displayName"> {{ element?.mapElement?.displayName }} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="kebabMenu" aria-label="">
        <mat-icon>more_vert</mat-icon>
      </button>
        <mat-menu #kebabMenu>
          <button mat-menu-item (click)="deleteItem(element.tripId, element.id)">Delete</button>
          <button mat-menu-item (click)="editTripPlanDialog(element)">Edit</button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
<!--  <a style="font-size: 8pt; text-decoration: none" target="_blank"></a>-->
  <mat-dialog-actions>
    <button mat-raised-button (click)="this.insertTripPlanDialog()">Add</button>
  </mat-dialog-actions>
</div>
