<div class="container py-1 w-100">
  <div class="row">
    <div class="col-lg-7 mx-auto w-auto">
      <div class="card rounded-0 border-0 shadow">
        <div class="card-body p-5">

          <!--  Bootstrap table-->
          <div class="table-responsive">
            <table mat-table [dataSource]="this.dataSource" class="table h-auto">
              <ng-container matColumnDef="displayName">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element"> {{ element.displayName }} </td>
              </ng-container>
              <ng-container matColumnDef="day">
                <th mat-header-cell *matHeaderCellDef>Day</th>
                <td mat-cell *matCellDef="let element"> {{ element?.day }} </td>
              </ng-container>
              <ng-container matColumnDef="cost">
                <th mat-header-cell *matHeaderCellDef>Cost</th>
                <td mat-cell *matCellDef="let element"> {{ element?.cost }} </td>
              </ng-container>
              <ng-container matColumnDef="mapElementName" class="h-auto">
                <th mat-header-cell *matHeaderCellDef>mapElementName</th>
                <td mat-cell *matCellDef="let element"> {{ element?.mapElement?.displayName }} </td>
<!--                  <mat-form-field class="example-full-width h-25">-->
<!--                    <mat-label>Locate</mat-label>-->
<!--                    <input matInput-->
<!--                           ngx-gp-autocomplete-->
<!--                           placeholder="{{ this.inputSearchPlaceHolder }}"-->
<!--                           (onAddressChange)="doIt($event, element)">-->
<!--                    <td mat-cell *matCellDef="let element"> {{ element?.mapElement?.displayName }} -->
<!--                  </mat-form-field>-->
<!--                </td>-->
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>

          <mat-dialog-actions>
            <button mat-raised-button (click)="this.openDialog()">Add</button>
          </mat-dialog-actions>
        </div>
      </div>
    </div>
  </div>
</div><a style="font-size: 8pt; text-decoration: none" target="_blank"></a>
