<h1 mat-dialog-title>Add new element</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.displayName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Day</mat-label>
    <input matInput [(ngModel)]="data.day">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Cost</mat-label>
    <input matInput [(ngModel)]="data.cost">
  </mat-form-field>
  <mat-form-field>
    <mat-label>mapElementName</mat-label>
    <input matInput
           ngx-gp-autocomplete
           (onAddressChange)="assignPlace($event)"
           [ngModel]="!!data.mapElement ? data.mapElement.displayName : ''">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCloseClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data">Add</button>
</div>
