<mat-toolbar class="toolbar">
	<div>Trip Manager</div>
	<mat-divider class="divider-title" [vertical]="true"></mat-divider>

	<div class="toolbar-item">
		<button
			mat-button
			(click)="routerService.navToHome()"
		>
			<mat-icon>home</mat-icon>
			Home
		</button>
	</div>

	<div class="toolbar-item">
		<button
			mat-button
			(click)="routerService.navToTrips()"
		>
			<mat-icon>travel_explore</mat-icon>
			My Trips
		</button>
	</div>

	<div class="toolbar-item">
		<button
			mat-button
			(click)="routerService.navToBudgets()"
		>
			<mat-icon>account_balance_wallet</mat-icon>
			My Budgets
		</button>
	</div>

	<div class="toolbar-item" *ngIf="isAdmin()">
		<button
			mat-button
			(click)="routerService.navToMonitoringRabbitmq()"
		>
			<mat-icon>monitoring</mat-icon>
			Monitoring
		</button>
	</div>

	<div class="fill-remaining-space"></div>

	<div class="toolbar-item">
		<button mat-button
				[matMenuTriggerFor]="menu"
				(menuOpened)="onMenuStatusChange()"
				(menuClosed)="onMenuStatusChange()">
			{{ getName() }}
			<mat-icon
				class="icon-transition"
				[ngClass]="{'icon-rotate': isAccMenuOpened}">
				expand_more
			</mat-icon>
		</button>
		<mat-menu #menu="matMenu" class="account-menu-dropdown">
			<button
				mat-menu-item
				(click)="routerService.navToSettings()"
			>
				<mat-icon>settings</mat-icon>
				Settings
			</button>
			<button
				mat-menu-item
			>
				<mat-icon>edit_notifications</mat-icon>
				Notifications settings
			</button>
			<button
				class="button-logout"
				mat-menu-item
				(click)="logout()"
			>
				<mat-icon>logout</mat-icon>
				Logout
			</button>
		</mat-menu>
	</div>
</mat-toolbar>
