<ng-container *ngIf="searchResultObservable$ | async as searchResult">
	<div class="header">
		<div class="left-section">
			<button mat-stroked-button (click)="openCreateBudgetDialog()">
				{{ 'budget.createBudget' | translate }}
			</button>
		</div>

		<div class="right-section">
			<mat-form-field appearance="outline" class="code-input">
				<mat-label>{{ 'budget.code' | translate }}</mat-label>
				<input
					matInput
					maxlength="6"
					placeholder="{{ 'budget.enterCode' | translate }}"
					[(ngModel)]="joinCode"
				/>
			</mat-form-field>
			<button mat-stroked-button (click)="joinBudget()">
				{{ 'budget.joinBudget' | translate }}
			</button>
		</div>
	</div>

	<budget-table
		[currentAccount]="currentAccount"
		[dataSet]="searchResult.content"
		[totalPages]="searchResult.totalPages"
		(refreshEvent)="prepareQueryParamsAndSearch()"
	></budget-table>

	<app-paginator
		[page]="page"
		[pageSize]="pageSize"
		[totalElements]="totalElements"
		[totalPages]="totalPages"
		[isFirstPage]="searchResult.first"
		[isLastPage]="searchResult.last"
		[isEmptyPage]="searchResult.empty"
		(goPrev)="onPrev()"
		(goNext)="onNext()"
		(goPage)="goToPage($event)"
	></app-paginator>
</ng-container>
