@use "../../../styles/variables.scss" as *;

:host {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.tmpl-content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: 100%;
}

.trip-plan-container {
	display: flex;
	flex-direction: column;
	gap: $spacing-md;
	padding: $spacing-md;
	flex-grow: 1;
	height: 100%;
}

.container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: $spacing-md;
}

.toggle-buttons {

}

app-trip-plan-table {
	flex: 1;
	height: 100%;
}

app-trip-plan-map {
	flex: 2;
	height: 100%;
}

@media (min-width: $breakpoint-md) {
	.trip-plan-container {
		flex-direction: row;
		align-items: stretch;
	}

	trip-plan-table-searchable {
		flex: 2;
		height: 100%;
	}

	app-trip-plan-map {
		flex: 1;
		height: 110%;
		width: 90%;
		padding: 10px;
	}
}


@media (max-width: $breakpoint-md) {
	.trip-plan-container {
		padding: $spacing-md;
	}

	.toggle-buttons {
		margin-left: 0;
		width: 100%;
		display: flex;
		justify-content: center;

		.button-left,
		.button-middle,
		.button-right {
			width: 100%;
			max-width: 120px;
		}
	}
}

@media (max-width: $breakpoint-sm) {
	.trip-plan-container {
		padding: $spacing-sm;
		gap: $spacing-md;
	}

	.toggle-buttons {
		flex-wrap: wrap;
		.button-left,
		.button-middle,
		.button-right {
			max-width: 100%;
			border-radius: $border-radius-sm !important;
		}
	}
}
