<app-default-page>
	<div class="tmpl-content">
		<mat-button-toggle-group name="SetView">
			<mat-button-toggle class="rounded-left" (change)="this.changeShowMap(ShowToggle.TABLE)">Table</mat-button-toggle>
			<mat-button-toggle (change)="this.changeShowMap(ShowToggle.ALL)">All</mat-button-toggle>
			<mat-button-toggle class="rounded-right" (change)="this.changeShowMap(ShowToggle.MAP)">Map</mat-button-toggle>
		</mat-button-toggle-group>

		<div class="row">
			<app-trip-plan-table (refreshEvent)="this.refreshData()"
								 *ngIf="!!this.tripId"
								 [dataSource]="this.dataSource$.asObservable()"
								 [hidden]="this.showMap !== ShowToggle.TABLE && this.showMap !== ShowToggle.ALL"
								 [tripId]="this.tripId"
								 class="col-xl-6"></app-trip-plan-table>
			<app-trip-plan-map *ngIf="!!this.tripId"
							   [dataSource$]="this.dataSource$.asObservable()"
							   [hidden]="this.showMap !== ShowToggle.MAP && this.showMap !== ShowToggle.ALL"
							   [tripId]="this.tripId"
							   class="col-xl-6"></app-trip-plan-map>
		</div>

	</div>
</app-default-page>
